<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <h1><%= date %></h1>

  <ul>
    <% newItems.forEach( el => { %>
    <li><%= el %></li>
    <% }); %>
  </ul>
  
  <form action="/" method="post">
    <input type="text" name="newItem" required autofocus>
    <button type="submit">Add</button>
  </form>



</body>

</html>
