<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
</head>

<body>
  <h1><%= date %></h1>

  <ul>
    <% newItems.forEach( el => { %>
      <li><%= el %></li>
    <% }); %>
    <li>
      <form action="/" method="post">
        <input type="text" name="newItem" required autofocus>
        <button type="submit">Add</button>
      </form>
    </li>
  </ul>

</body>

</html>
